.page-header {
  h1 {
    font-size: $size-big;
    line-height: 1.2;
    color: $color-invert;
  }

  small {
    color: rgba(255, 255, 255, 0.8);
  }

  .page-nav a {
    padding: 0 5px 2px;
    color: rgba(255, 255, 255, 0.8);

    &:hover, &:focus {
      border-bottom: 1px solid #fff;
    }

    &.nuxt-link-exact-active {
      color: rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
  }
}

.page-footer {
  color: $color-invert;
  font-size: $size-smaller;

  a {
    color: rgba(255, 255, 255, 0.8);

    &:hover, &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
}

::-moz-selection {
  background: $color-darker;
  color: $color-invert;
}

::selection {
  background: $color-darker;
  color: $color-invert;
}

.page-header, .page-footer {
  ::-moz-selection {
    background: $color-invert;
    color: $color-default;
  }

  ::selection {
    background: $color-invert;
    color: $color-default;
  }
}

h1 {
  font-size: $size-big;
  margin-right: $spacing / 2;
  width: 220px;
}

h2 {
  font-size: $size-default;
  line-height: 1.2em;
  color: palette(grey, 20);
  font-weight: $font-weight-bold;

  small {
    font-weight: $font-weight-default;
  }
}

h3 {
  font-size: $size-small;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  color: palette(grey, 20);
  letter-spacing: $spacing-default;
  line-height: 1em;

  &.active .label {
    color: #94F676;
    font-weight: bold;
  }
}

h4 {
  font-size: $size-small;
  letter-spacing: $spacing-wide;
  font-weight: $font-weight-bold;
  color: $color-important;
}

time {
  font-size: $size-smaller;
  font-weight: $font-weight-default;
  letter-spacing: $spacing-wider;
  color: $color-mute;
}

h5 {
  font-size: $size-smaller;
  font-weight: $font-weight-default;
  letter-spacing: $spacing-wider;
  color: $color-mute;
}

.reference {
  font-size: $size-smaller;
  font-weight: $font-weight-default;
  color: $color-default;
}

p {
  max-width: 800px;
  font-size: $size-small;
  line-height: 1.9;
  color: $color-default;

  &.small {
    font-size: $size-small;
  }

  em {
    color: $color-important;
  }

  strong {
    color: darken($color-darker, 10%);
  }
}

figcaption {
  font-size: $size-smaller;
  color: $color-mute;
}

.download {
  font-size: 0.7rem;
  color: $color-mute;
  text-transform: uppercase;
  letter-spacing: $spacing-widest;
}

.caption {
  font-size: $size-smaller;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-mute;
  letter-spacing: $spacing-widest;
}

.page-footer {
  .caption {
    color: $color-important;
    display: inline-block;
    margin-bottom: $spacing / 4;
  }
}

table {
  tr td, th td {
    vertical-align: top;
  }

  thead {
    font-weight: $font-weight-bold;
    font-size: $size-smallest;
  }
}

.page-content {
  a {
    color: $color-accent;

    &[href^='#'], &:not([href]) {
      color: $color-accent;
    }

    &:hover, &:focus {
      color: darken($color-accent, 20%);
    }

    &.nuxt-link-exact-active {
      color: $color-default;
      cursor: default;
    }
  }
}

.btn {
  transition-duration: 0.5s;
  color: palette(grey, 60);
  border-radius: 4px;
  padding: $spacing / 4 $spacing / 3;
  text-align: center;
  display: inline-block;
  border: 1px solid palette(grey, 85);
  background-color: transparent;
  letter-spacing: $spacing-wide;
  font-size: $size-small;
  outline: none;

  &.clickable {
    cursor: pointer;
    color: palette(grey, 20);

    &:hover {
      border-color: palette(grey, 70);
      color: palette(grey, 0);
    }
  }
}

.btn-bold {
  margin: $spacing 0;
  color: $color-invert !important;
  background-color: $color-accent;
  padding: $spacing / 2 $spacing;
  font-weight: $font-weight-bold;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  width: 80%;

  &:hover {
    color: $color-invert;
    background-color: darken($color-accent, 5%);
  }
}

.tag {
  padding: 0.1em 0.4em;
  color: palette(grey, 80);
  background-color: palette(grey, 100);
  // border: 1px solid palette(grey, 80);
  border-radius: $radius-default;
  font-size: $size-smallest;
  margin-left: $spacing / 4;

  &.clickable {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.02);
    // border: 1px solid palette(grey, 80);
    // background-color: #fff;
    cursor: pointer;
    border-radius: $radius-default;
    color: palette(accent, base);

    &:hover, &:focus {
      background-color: #fff;
      // background-color: $color-bg-lighter;
      color: $color-default;
    }

    &.active {
      background-color: $color-bg-dark;
      color: $color-invert;
    }
  }
}
