$color-darker:		#626C76 !default;
$color-dark:			#D0CFCE !default;
$color-important:	#D58882 !default;
$color-mute:      #919AA1 !default;

$color-bg-header: hsl(240, 5%, 97%) !default;
$color-border-header: hsl(240, 5%, 92%) !default;

$color-bg-dark:		#2b2f32 !default;
$color-bg-mute:		#f1f1f1 !default;
$color-bg-default:#f9f9f9 !default;
$color-bg-light:	#f6f6f6 !default;
$color-bg-lighter:#fafafa !default;

$size-smallest:		0.7rem !default;
$size-smaller:		0.8rem !default;
$size-small:			0.9rem !default;
$size-default:		1.0rem !default;
$size-big:				1.5rem !default;
$size-bigger:			1.8rem !default;

$spacing-default:	0.01em !default;
$spacing-wide:		0.02em !default;
$spacing-wider:		0.05em !default;
$spacing-widest:	0.10em !default;

$facet-width:		220px !default;
$facet-gap:      $spacing !default;
